@media only screen and (min-width: 1700px) {
    .signup-header-content-wrapper{
        font-size: 1.2em!important;
    }
    .sidebar-section {
        max-width: 18%!important;
    }
    .site-heading{
        font-size: 2.8em!important;
    }
    .welcomeCol-wrapper p{
        font-size: 1.3em!important;
    }
    .sidebar-list-area ul li a {
        font-size: 1.4em!important;
    }    
    .sidebar-list-area ul li{
        padding: 8px 0!important;
    }
    .welcome-row-wrapper{
        margin-top: 7.5rem!important;
    }
    /* ********profile***************** */
    .profile-main-area .service-card-wrapper{
        height: 185px!important;
        margin-top: 1em!important;
    }
    .profile-main-area{
        max-width: 2000px!important;
        padding: 10px 50px!important;
    }
    .services-packages-inner-parent .service-card-wrapper{
        height: 185px!important;
        margin-top: 1em!important;
    }
    .service-packages-main-area{
        max-width: 2000px!important;
        padding: 10px 100px!important;
    }
    .packages-card-wrapper p{
        font-size: 1em!important;
    }
    .packages-card-wrapper h2{
        font-size: 2.8em!important;
    }
    .packages-card-wrapper{
        padding: 20px!important;
    }
    .packages-heading{
        margin-top: .5em!important;
    }
    /* ********question air screen********* */
    .question-tab-button p{
        font-size: 1em!important;
    }
    .question-tab-button{
        width: 140px!important;
        height: 60px!important;
    }
    .question-form-wrapper h2{
        font-size: 2.5em!important;
    }
    .question-form-wrapper p{
        font-size: 1.5em!important;
    }
    .question-form-wrapper {
        max-width: 550px!important;
        margin: 35px auto!important;
    }
    .question-form-wrapper input, .question-form-wrapper select{
        height: 50px!important;
    }
    .clinical-question-main-area .slider-wrapper{
        margin-top: 2em!important;
    }
    /* ******trial finder********* */
    .tabs-drugs-parent{
        max-width: 2000px!important;
        padding: 10px 50px!important;
    }
    .tabs-drugs-parent ul li{
        padding: 12px!important;
        height: auto!important;
    }
    .gray-button{
        font-size: 1.1em!important;
    }
    .blue-button{
        font-size: 1.1em!important;
    }
    .drugsTable tbody td,.drugsTable tbody th {
        font-size: 1.2em!important;
        padding: 15px 10px!important;
    }
    .tab-content-wrapper-drugs table tbody{
        max-height: 500px!important;
    }
    .stats-drug-card-area{
        height: 200px!important;
    }
    .stats-drug-card-area .text-area{
        height: 135px!important;
    }
    .stats-drug-card-area .text-area p{
        font-size: 1.3em!important;
        max-width: unset!important;
    }
    .tab-content-wrapper-drugs {
        margin-top: 2em!important;
    }
    .input-box-wrapper .signup-box-input, select{
        height: auto!important;
        padding: 10px!important;
    }
    .BluetextUnderHeading{
        font-size: 1.2em!important;
    }
    .signup-form-wrapper{
        max-width: 430px!important;
    }
    .signup-header-area{
        height: 85px!important;
    }
    /* ******************** */
    .contact-form-wrapper {
        max-width: 700px!important;
        margin-top: 2em!important;
    }
    .contact-form-wrapper .custom-form-control{
        padding: 12px 10px!important;
    }
    .drugstatusTable-wrapper{
        max-height: 500px!important;
    }
    /* **************** */
    .service-cards-area{
        max-width: 1260px!important;
    }
    .service-card-wrapper{
        height: 220px!important;
    }
    .service-card-parent p{
        font-size: 1.4em!important;
    }
    .light-theme-btn{
        width: 100%!important;
        height: 80px!important;
        font-size: 1.1em!important;
        line-height: 26px!important;
    }
}